
#Customer-body {
    background-color: #f7f7f5;
    width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#Customer-header {
    display: inline;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#Customer-Footer {
    text-align: center;
}

#header-image {
    float: left;
    display: inline;
}

#header-list-background {
    height: 100px;
    background-color: #fff;
}

#header-list {
    float: right;
    list-style: none;
    margin: 0;
    display: flex;
    vertical-align: middle;
}

    #header-list li {
        display: inline;
        float: left;
        padding-top: 41px;
        vertical-align: middle;
    }

button {
    background-color: #00a4f3;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-radius: 25px
}

.selected {
    background-color: #00a4f3;
    color: #000000;
    cursor: pointer;
    border: none;
    padding: 41px 25px 41px 25px;
    text-decoration: none;
}

.notselected {
    color: #000;
    cursor: pointer;
    border: none;
    padding: 41px 25px 41px 25px;
    text-decoration: none;
}

    .notselected:hover {
        background-color: #003651;
        color: #fff;
        cursor: pointer;
        border: none;
        padding: 41px 25px 41px 25px;
        text-decoration: none;
    }

#Customer-main {
    display: block;
    position: relative;
    height: auto;
    flex: 1;
}

#Customer-search {
    padding-bottom: 60px;
    height: auto;
}

#searchContainerDiv {
    margin: 0 auto;
    height: auto;
}

#searchParametersSideDiv {
    height: auto;
    float: left;
    width: 20%;
    position: relative;
    background-color: #fff;
}

#searchParametersSideDiv-padding {
    padding-left: 10px;
    padding-bottom: 10px;
}

#searchDataSideDiv {
    float: left;
    position: relative;
}

ul {
    list-style: none;
    background: transparent !important;
}

    ul li {
        list-style: none;
        background: transparent !important;
    }

article {
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchResultdiv {
    background-color: #fff;
    height: 250px;
    width: 750px;
}

#searchResultImagediv {
    background-color: inherit;
    height: 200px;
    width: 267px;
    padding: 5px;
    float: left;
}

#searchResultDatadiv {
    background-color: inherit;
    height: 175px;
    width: 450px;
    padding: 10px;
    float: left;
}

.viewCarImageDiv {
    width: 570px;
    height: 420px;
    float: left;
}

.view-imageOutput {
    padding: 10px;
}

.viewCarDataDiv {
    border-top: 1px solid black;
    float: left;
}

#manageTestDrivesTable, #manageTestDrivesTable th, #manageTestDrivesTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

#manageServicesTable, #manageServicesTable th, #manageServicesTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.carView_list {
    border-left: 6px solid #e8e8e3;
    padding: 0 8px;
    display: table-cell;
    width: 100px
}

#viewCar-title {
    margin: 0 auto;
}

#viewCarContainerDiv {
    margin: 0 auto;
    background-color: #fff;
    width: 800px;
    height: 530px;
}

#Customer-footer {
    position: relative;
    bottom: 0;
    height: 60px;
    background: #fff;
    display: inline-block;
}

#tandC{
    background-color: #fff;
}