<div>
    <h1>
        New Account
    </h1>
    <br />
    <form id="createAccountDiv">
        <label>UserName: </label>
        <input type="text" maxlength="20" id="newCustomer-userName" name="userName" /><br /><br />
        <label>Password: </label>
        <input type="password" maxlength="20" id="newCustomer-password" name="password" /><br /><br />
        <label>First Name: </label>
        <input type="text" maxlength="50" id="newCustomer-firstName" name="firstName" /><br /><br />
        <label>Last Name: </label>
        <input type="text" maxlength="50" id="newCustomer-lastName" name="lastName" /><br /><br />
        <label>Email: </label>
        <input type="text" maxlength="50" id="newCustomer-email" name="email" /><br /><br />
        <label>Phone Number: </label>
        <input type="text" maxlength="15" id="newCustomer-number" name="number" /><br /><br />
        <p>Address: </p>
        <input type="text" maxlength="50" id="newCustomer-address1" name="address1" /><br />
        <input type="text" maxlength="50" id="newCustomer-address2" name="address2" /><br /><br />
        <label>Town / City: </label>
        <input type="text" maxlength="50" id="newCustomer-city" name="city" /><br /><br />
        <label>Postcode: </label>
        <input type="text" maxlength="10" id="newCustomer-postcode" name="postcode" /><br />
        <br />

        <input type="checkbox" id="newCustomer-permission">
        <label for="newCustomer-permission">Do you Accept the <a href="#!/tandC" style="display:inline-block;">Terms and Conditions?</a></label>
        <br /><br />

        <button id="newCustomerCreateButton" type="button">Create Account</button>
    </form>
</div>