<div id="logindiv">

    <h2>Login</h2>
    <form id="login-form">
        Username: <input type="text" id="usernameinput" /><br /><br/>
        Password: <input type="password" id="passwordinput" /><br /><br/>
        <button id="loginButton" type="submit">Login</button>
    </form>
    <br />
    <p id="logres"></p>
    <br/>
    <br/>
    <a href="#!/createAccount">Create Account</a>

</div>