<div>
    <h1>
        My Account
    </h1>
    <br />
    <a href="#!/editAccount">Edit Account</a><br /><br />
    <p>UserName:</p>
    <input type="text" maxlength="20" id="customerAccount-userName" readonly /><br />
    <p>First Name:</p>
    <input type="text" maxlength="50" id="customerAccount-firstName" readonly /><br />
    <p>Last Name:</p>
    <input type="text" maxlength="50" id="customerAccount-lastName" readonly /><br />
    <p>Email:</p>
    <input type="text" maxlength="50" id="customerAccount-email" readonly /><br />
    <p>Phone Number:</p>
    <input type="text" maxlength="15" id="customerAccount-number" readonly /><br />
    <p>Address:</p>
    <input type="text" maxlength="50" id="customerAccount-address1" readonly /><br />
    <input type="text" maxlength="50" id="customerAccount-address2" readonly /><br />
    <p>Town / City:</p>
    <input type="text" maxlength="50" id="customerAccount-city" readonly /><br />
    <p>Postcode:</p>
    <input type="text" maxlength="10" id="customerAccount-postcode" readonly /><br /><br />
    <p>Your Cars:</p>
    <table id="customerAccount-yourCars"></table><br />
    <button id="customerAccount-deleteAccount">Delete Account</button>

</div>