<div>
    <h1>
        Edit Account
    </h1>
    <br />
    <form id="editAccountDiv">
        <p>First Name:</p>
        <input type="text" maxlength="50" id="editAccount-firstName" name="firstName" readonly /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="editAccount-lastName" name="lastName" /><br />
        <p>Email:</p>
        <input type="text" maxlength="50" id="editAccount-email" name="email" /><br />
        <p>Phone Number:</p>
        <input type="text" maxlength="15" id="editAccount-number" name="number" /><br />
        <p>Address:</p>
        <input type="text" maxlength="50" id="editAccount-address1" name="address1" /><br />
        <input type="text" maxlength="50" id="editAccount-address2" name="address2" /><br />
        <p>Town / City:</p>
        <input type="text" maxlength="50" id="editAccount-city" name="city" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="editAccount-postcode" name="postcode" /><br />
        <br />

        <button id="editAccount-Button">Save Changes</button>
    </form>
        
</div>