<div id="Customer-search">
        <h1>
            Search
        </h1>

        <br />

        <div id="searchContainerDiv">
            <div id="searchParametersSideDiv" style="line-height:1px">
                <div id="searchParametersSideDiv-padding">
                    <br /><br /><br /><br /><br />
                    <button id="carParameterSearch">Search</button><br />
                    <p>Make:</p>
                    <select type="text" id="carSearch-Make">
                        <option value="Any">Any</option>
                    </select>
                    <p>Model:</p>
                    <select type="text" id="carSearch-Model">
                        <option value="Any">Any</option>
                    </select>
                    <p>Year From:</p>
                    <select type="text" id="carSearch-yearUpperBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Year To:</p>
                    <select type="text" id="carSearch-yearLowerBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Colour:</p>
                    <select type="text" id="carSearch-Colour">
                        <option value="Any">Any</option>
                    </select>
                    <p>Body Type:</p>
                    <select type="text" id="carSearch-BodyType">
                        <option value="Any">Any</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Coupe">Coupe</option>
                        <option value="Convertible">Convertible</option>
                        <option value="Estate">Estate</option>
                        <option value="SUV">SUV</option>
                        <option value="Saloon">Saloon</option>
                        <option value="Pickup">Pickup</option>
                    </select>
                    <p>Doors:</p>
                    <select type="text" id="carSearch-Doors">
                        <option value="Any">Any</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                    </select>
                    <p>GearBox Type:</p>
                    <select type="text" id="carSearch-GearBox">
                        <option value="Any">Any</option>
                        <option value="Manual">Manual</option>
                        <option value="Automatic">Automatic</option>
                    </select>
                    <p>Miles From:</p>
                    <select type="text" id="carSearch-milesUpperBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Miles To:</p>
                    <select type="text" id="carSearch-milesLowerBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Engine Size From:</p>
                    <select type="text" id="carSearch-engineSizeUpperBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Engine Size To:</p>
                    <select type="text" id="carSearch-engineSizeLowerBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>0-60:</p>
                    <select type="text" id="carSearch-0-60">
                        <option value="Any">Any</option>
                        <option value="0-5">0-5</option>
                        <option value="0-8">0-8</option>
                        <option value="0-10">0-10</option>
                        <option value="0-15">0-15</option>
                    </select>
                    <p>Fuel Type:</p>
                    <select type="text" id="carSearch-FuelType">
                        <option value="Any">Any</option>
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                    </select>
                    <p>Drive Train:</p>
                    <select type="text" id="carSearch-DriveTrain">
                        <option value="Any">Any</option>
                        <option value="FWD">FWD</option>
                        <option value="RWD">RWD</option>
                        <option value="AWD">AWD</option>
                    </select>
                    <p>co2 From:</p>
                    <select type="text" id="carSearch-co2UpperBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>co2 To:</p>
                    <select type="text" id="carSearch-co2LowerBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Price From:</p>
                    <select type="text" id="carSearch-priceUpperBound">
                        <option value="Any">Any</option>
                    </select>
                    <p>Price To:</p>
                    <select type="text" id="carSearch-priceLowerBound">
                        <option value="Any">Any</option>
                    </select>
                </div>

            </div>
            <div id="searchDataSideDiv">

                <ul id="searchPageResultsList">
                    <li>
                        <article>
                            <div id="searchResultdiv">
                                <div id="searchResultImagediv">
                                    <img id="imageOutput">
                                </div>
                                <div id="searchResultDatadiv">
                                    <h2>Title</h2>
                                    <p>data</p>
                                </div>
                            </div>

                        </article>
                    </li>
                </ul>


            </div>
        </div>
    
</div>