<div>
    <h1>
        Book Service
    </h1>
    <br />

    <p>If you didn't buy your vehicle with us. Please book your service over the phone at 01642 000000</p>

    <p>Car:</p>
    <select type="text" id="bookService-Car"></select><br />
    <p>Dealership:</p>
    <select type="text" id="bookService-Dealership">
        <option value="Middlesbrough">Middlesbrough</option>
        <option value="Darlington">Darlington</option>
        <option value="Stockton">Stockton</option>
    </select><br />

    <p>Date of Service:</p>
    <select type="text" id="bookService-Day">
    </select>
    /
    <select type="text" id="bookService-Month">
    </select>
    /
    <select type="text" id="bookService-Year" disabled readonly>
        <option value="2018">2018</option>
    </select><br />
    <p>Time of Service:</p>

    <select type="text" id="bookService-Hour">
        <option value="09">09</option>
        <option value="11">11</option>
        <option value="13">13</option>
        <option value="15">15</option>
    </select>
    :
    <select type="text" id="bookService-Minute" disabled readonly>
        <option value="00">00</option>
    </select>
    <br />
    <br />
    <br />
    <button id="bookService-button" type="button">Save</button>
</div>