<div id="tandC">
    <h1>
        Terms and Conditions
    </h1>
    
    <br />
    <p>
        By accepting the Terms and Conditions, you are accepting that...<br />
        &nbsp; &nbsp; &nbsp; You give permission for the requested data to be stored on the Teesside Motors Database.<br />
        &nbsp; &nbsp; &nbsp; You will not use this application for malicious intent.
        &nbsp; &nbsp; &nbsp; You must be over 17 years of age.
    </p>
    <br/>
</div>