<div>
    <h1>
        Book Test Drive
    </h1>
    <br />

    <p>Car:</p>
    <select type="text" id="bookTestDrive-Car"></select><br />
    <p>Date of Test Drive:</p>
    <select type="text" id="bookTestDrive-Day">
    </select>
    /
    <select type="text" id="bookTestDrive-Month">
    </select>
    /
    <select type="text" id="bookTestDrive-Year" disabled readonly>
        <option value="2018">2018</option>
    </select><br />
    <p>Time of Test Drive:</p>

    <select type="text" id="bookTestDrive-Hour">
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
    </select>
    :
    <select type="text" id="bookTestDrive-Minute">
        <option value="00">00</option>
        <option value="30">30</option>
    </select>
    <br />
    <br />
    <br />
    <button id="bookTestDrive-button" type="button">Save</button>
</div>