﻿<div id="Customer-Footer">
    <a href="#!/tandC" style="display:inline-block;">Terms and Conditions </a>
    <p style="display:inline-block;">
        | Last Updated: 12:00 01/05/2018
    </p>
</div>
