﻿<div id="header-list-background">
    <a href="#!/search"><img id="header-image" src="Images/Teesmo-Logo.gif" alt="logo" /></a>

    <ul id="header-list">
        <li>
            <a id="carSearchSelect" class="selected" href="#!/search">Search</a>
        </li>
        <li>
            <a id="testDriveSelect" class="notselected" href="#!/manageTestDrive">Test Drive</a>
        </li>
        <li>
            <a id="serviceSelect" class="notselected" href="#!/manageServices">Service</a>
        </li>
        <li>
            <a id="accountLogSelect" class="notselected" href="#!/myAccount">Log In</a>
        </li>
    </ul>
</div>

<script>
    $('#carSearchSelect').click(function () {
        if ($('#carSearchSelect').hasClass('selected')) { } else {
            $('#carSearchSelect').removeClass('notselected').addClass('selected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#testDriveSelect').click(function () {
        if ($('#testDriveSelect').hasClass('selected')) { } else {
            $('#carSearchSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('notselected').addClass('selected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#serviceSelect').click(function () {
        if ($('#serviceSelect').hasClass('selected')) { } else {
            $('#carSearchSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('notselected').addClass('selected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#accountLogSelect').click(function () {
        if ($('#accountLogSelect').hasClass('selected')) { } else {
            $('#carSearchSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('notselected').addClass('selected');
        }
    });
</script>